{{#if user}}
<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-8 text-white text-center">
            <h2>Gracias por su compra, {{user}}!</h2>
        </div>
    </div>
</div>
{{/if}}
<div class="container-fluid">
    <div class="container-fluid text-white">
        <h5 class="card-title">Ticket ID: {{ticket._id}}</h5>
        <p class="card-text">Creado: {{ticket.timestamp}}</p>
        <p class="card-text">Costo Total: {{ticket.amount}}</p>
    </div>

    <h5 class="mt-4 text-white">Productos comprados:</h5>
    <div class="row gap-4">
        {{#each ticket.cart}}
        <div class="card product-card col-md-4">
            <div class="card-body product-card-body">
                <h6 class="product-title">Producto: {{@this.product.title}}</h6>
                <img class="card-img-top img-card" src="{{this.product.thumbnail}}" alt="{{this.product.title}}" />
                <p class="product-detail"><strong>Cantidad:</strong> {{this.quantity}}</p>
                <p class="price product-detail"><strong>Precio:</strong> ${{this.product.price}}</p>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="text-center mt-4">
        <button id="back-button" class="btn btn-primary">Volver a la página principal</button>
    </div>
</div>